*{
    font-family: Georgia, "Times New Roman", serif;
    background-color: black;
    color: white;
}

.redirect {
    font-weight: 300;
    
}

.redirect.homepage{
    color: aquamarine;
}

.redirect.recipe{
    color: brown;
    font-size: large;
}

div.redirect.link{
    text-align: center;
}

div.element{
    background-color: transparent;

    /* margins */
    margin-bottom: 200px;

    /* size */
    height: auto;
    width: 50%;
}

div.element.odd{
    /* margins */
    margin-left: 5%;
}

div.element.even{
    /* margins */

    margin-left: auto;
    margin-right: 5%;
}


div.subtitle-name{
    /* border */
    border: 5px solid white;
    border-radius: 25px;

    /* position of child */
    text-align: center;
    
    /* colors */
    background-color: transparent;

    /* margins */
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;

    /* size */
    width: 85%;
    height: 30px;
}

.subtitle{
    /* colors */
    background-color: gold;
    color: black;

    /* size */
    height: auto;
    width: 75%;

    /* margins */
    margin-left:auto;
    margin-right: auto;
}

div.subtitle-element {
    /* colors */
     background-color: transparent;

     /* position of child */
     text-align: center;

     /* dimension */
     height: auto;
     width: 100%;

     /* margins */
     margin: auto;


}

.recipe-photo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 500px;
}

div.main-title{
    /*size*/
    height: auto;
    width: 50%;

    /*margins*/
    margin-left:auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;

    /* border */
    border: 5px solid white ;
    border-radius: 100px;

    /* color */
    background-color: red;
}

.title{
    background-color: transparent;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}