*{
    font-family: Georgia, "Times New Roman", serif;
    background-color: black;
    color: white;
}

.redirect {
    font-weight: 300;
    
}

.redirect.homepage{
    color: aquamarine;
}

.redirect.recipe{
    color: brown;
    font-size: large;
}

div.redirect.link{
    text-align: center;
}

.subtitle{
    /* colors */
    background-color: gold;
    color: black;

    /* dimensions */
    height: auto;
    width: 85%;

    /* margins */
    margin-left:auto;
    margin-right: auto;
}

div.subtitle-name{
    border: 5px solid white;

    /* position of child */
    text-align: center;
    
    /* colors */
    background-color: transparent;

    /* margins */
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;

    /* dimension */
    width: 50%;
    height: 30px;
    
    
}

div.subtitle-element {
    /* colors */
     background-color: transparent;

     /* position of child */
     text-align: center;

     /* dimension */
     height: auto;
     width: 50%;

     /* margins */
     margin: auto;


}

.recipe-photo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 500px;
}

.title{
    background-color: red;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}